/node_modules
/bin
/pkg
/src
/server/bindata.go
/server/data/static/build

.pid
.DS_Store
container-data/
envs/secret.env
notes/
conf/gobackup.yaml
.k8s/int_secret.yaml
.k8s/prod_secret.yaml
.k8s/e2e_secret.yaml
